<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta charset="utf-8">
    <title>ModneKodyWprostZeSrody</title>
	
	  <style>
      #map {
        width: 90%;
        height: 400px;
      }
    </style>
  </head>
  <body>

	  <div id="map"></div>
    <div class="container d-flex h-100">
      <div class="row justify-content-center">
        <div class="col-10">
          <h1> My_Form_God_Damn_It </h1>
          {% block main %}
          {% endblock %}
        </div>
      </div>
    </div>
    <label for="adres">Adres:</label>
  <input type="text" id="adres">
  <!-- <label for="nrdomu">Numer domu:</label> -->
  <!-- <input type="text" id="nrdomu"><br> -->
  <button type="button" id ="p1">Przeslij</button>
  <button type="button" id ="p2">Wyczyść</button>
  </body>
  <script src="  {% static 'js/jquery.js'       %}"></script>
<script   src="  {% static 'js/rango-jquery.js' %}"></script>
</html>
