<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>My_Form_God_Damn_It</title>
  </head>
  <body>
    
    <div>
      <p> TU BENDZIE MAPA </p>
    </div>

    <div class="container d-flex h-100">
      <div class="row justify-content-center">
        <div class="col-10">
          <h1> My_Form_God_Damn_It </h1>
          {% block main %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
