
{% load static %}<!DOCTYPE HTML>
<html lang="en">
  <head>
    
    <script type="text/javascript" src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
	  <meta charset="utf-8">
    <title>ModneKodyWprostZeSrody</title>
	  <link href="{% static 'css/leaflet.css' %}" type="text/css" media="screen" rel="stylesheet" />
    <link href="{% static 'css/osm_field.css' %}" type="text/css" media="screen" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rango-jquery.js' %}"></script>
  </head>

  <body>
      {% block content %}{% endblock %}
  </body>
  
</html>
